@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Avenir-Next-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bosk";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Bosk.ttf") format("truetype");
}

body {
  font-family: "AvenirNext";
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Hard Coding navBar Top */

ul {
  font-family: "AvenirNext";
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cceedd;
}

li {
  float: Right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
  font-size: 130%;
}

li a:hover:not(.active) {
  background-color: lightblue;
}

.active {
  background-color: #000000;
  color: white;
}

/* Text Below */

.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  font-size: 24px;
  /* padding: 20px; */
  font-stretch: expanded;
}

.textHolder {
  max-width: 960px;
  margin: 0 auto;
  background: #ffffff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 20px; */
}

.titleHeader {
  font-family: "Bosk";
  max-width: 960px;
  margin: 0 auto;
  background: #ffffff;
  font-size: 80px;
}

.parallax {
  background: url("../img/clouds-cloudy-cold-167699.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
