html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  color: black;
  margin-top: 0;
}

header {
  margin-top: 0;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin-top: 0;
}
fi .bg-black {
  background-color: black;
}

.site-header .navbar-nav .nav-link {
  color: black;
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 1px;
}
