{% extends "layout.html" %} {% block content%}

<body>

</br>
</br>
<!-- Introduction - who am i -->
  <a name="introduction"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-2">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row introduction">
        <div class="col-lg-10 offset-lg-1">
            <h1>Howdy, I'm Derek Li </h1>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-10 offset-lg-1">
        <p> This is just empty space i dont know what i want in this area yet. maybe ill put a picture or something. </p>
    </div>
    <!-- <div class="col-lg-3 offset-lg-1">
        <div class="container" style="max-height: 100">
            <img src='../static/tamuhackpic.png' >
        </div>
    </div> -->

  </div>

  <!-- Projects/Experience -->

  <a name="projects"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 section-br"></div>
    </div>
  </div>

  <div class="container">
    <div class="row intro">
      <div class="col-lg-10 offset-lg-1">
        <h1>Projects</h1>
      </div>
    </div>

    <div class="row project-card">
        <!--Tamuhack-->
        <div class="col-lg-5 offset-lg-1">
            <h5 class="pill">Logistics & Hardware Mentor</h5>
            <h2>TAMUhack</h2>
            <p>On the Logistics team that organises Texas A&M’s largest annual hackathon</p>
            <a href="projects/tamuhack.html" class="btn btn-primary"> -tamuhack-</a>
        </div>
        <div class="col-lg-4 offset-lg-2">
            <h5 class="pill">Software Engineering Internship</h5>
            <h2>The Boeing Company</h2>
            <p>
                On the STP3 Satellite Flight Software Team at Boeing's Defense and Space branch in El Segundo, California. 
            </p>
            <a href="projects/boeing.html" class="btn btn-primary"> -howdy boing-</a>
        </div>
    </div>
          

</br>
<div class="row project-card">
      <div class="col-lg-4 offset-lg-1">
        <h5 class="pill">Research & Prototyping</h5>
        <h2>Texas A&M University</h2>
        <p>
          On a team of students focused on the future of research and development of cement 3-D printing.
        </p>
        <a href="projects/cement.html" class="btn btn-primary"> -dry faster-</a>
      </div>
      <!-- <div class="col-lg-6 img-box">
            </div> -->
    </div>
</div>
</br>

</div>
</body>

{% endblock content %}
