<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />

    {% if title %}
    <title>Derek Li - {{ title }}</title>
    {% else %}
    <title>Derek Li</title>
    {% endif %}
  </head>
  <body>
    <header class="container-fluid">
      <nav class="row navbar-light">
        <div class="col-lg-4 offset-lg-2 left-align">
          <a class="navbar-brand" href="#introduction">Derek Li</a>
        </div>
        <div class="col-lg-4 offset-lg-2">
          <a class="navbar-brand" href="#introduction">About</a>
          <a class="navbar-brand" href="#projects">Projects</a>
          <a class="navbar-brand" href="#portfolio">Portfolio</a>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-20">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>

  <footer>
    <div class="footer">
      <div class="row">
        <div class="col-lg-5 offset-lg-5">
          <a href="mailto:derek_t_li@tamu.edu">Email</a>
          <a>Resume</a>
          <a href="https://www.linkedin.com/in/derektli97/">LinkedIn</a>
          <a href="http://github.com/derektli97/">GitHub</a>
        </div>
      </div>
    </div>
  </footer>
</html>
